@import "../../assets/sass/main.scss";

.fileupload {
  height: calc(100vh - 16rem);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 4rem;

  .inputCard {
    flex: 1;

    .dropContainer {
      position: relative;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100% - 6rem);
      padding: 2rem;
      border-radius: 1rem;
      border: 2px dashed #555;
      color: #444;
      cursor: pointer;
      transition: background 0.2s ease-in-out, border 0.2s ease-in-out;

      &:hover {
        background: #eee;
        border-color: #111;
      }
      &:hover .dropTitle {
        color: #222;
      }
      .dropTitle {
        color: #444;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        transition: color 0.2s ease-in-out;
      }
      input[type="file"] {
        width: 350px;
        max-width: 100%;
        color: #444;
        padding: 0.5rem;
        background: #fff;
        border-radius: 1rem;
        border: 1px solid #555;
      }

      input[type="file"]::file-selector-button {
        margin-right: 2rem;
        border: none;
        background: $color-black;
        padding: 1rem 2rem;
        border-radius: 1rem;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
      }

      input[type="file"]::file-selector-button:hover {
        background: #6972c4;
      }
    }
  }

  .fileuploads {
    display: flex;
    gap: 2rem;
    .file {
      @include LatoNormal;
      color: #6972c4;
      border: 2px dotted #6972c4;
      border-radius: 0.5rem;
      width: fit-content;
      padding: 0.3rem 1rem;
      cursor: pointer;
    }
  }
}
